<div class="col-lg-12">
    <div class="alert alert-info fade in panel-search-begin text-center">
        <strong>Welcome !</strong> Please click button <b>SEARCH</b> to begin your search.
    </div>
</div>