<div class="col-lg-12">
    <div class="alert alert-warning fade in text-center panel-search-info">
        <h4>No Data Found!</h4>
        <p>Please change your filter parameter and click button <b>SEARCH</b> again.</p>
    </div>
</div>