.red-bg {
  background-color: #FFBF00;
  padding-top: 70px;
  padding-bottom: 40px;
}

.red-bg .services-box i {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  font-size: 50px;
  margin-right: 25px;
}

.red-bg .services-box .services-box-info {
  margin-left: 30px;
}

.red-bg .services-box .services-box-info h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.red-bg .services-box .services-box-info p {
  color: #eee;
}
