@model Merachel.WebUI.Models.AdminPictureModel

@{
    ViewBag.Title = "EventPicture";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="top-head">
    <h2>Event Picture</h2>
    <a href="@Url.Action("Event", "Admin")" class="btn-addhome">< Back to Event</a>
</div>

<div class="content">
    <div class="container-1">
        <h3>Add Picture</h3>

        <div class="wrap">
            @Html.Partial("_CreateEventPicture", new Merachel.Domain.Entities.EventPicture() { EventID = 1 })
        </div>

        <table class="Grid">
            <tr>
                <th>Picture ID</th>
                <th>Picture</th>
                <th>Status</th>
                <th></th>
            </tr>
            @foreach (var item in Model.eventpicturelist)
            {
                Html.RenderPartial("_PartialEventPicture", item);
            }
        </table>

    </div>
</div>


