
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Grid Text 3 columns</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li><a href="index.html">Portfolio</a></li>
                    <li>Grid Text 3 columns</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">

    <div class="center-heading">
        <h2>Our portfolio</h2>
        <span class="center-line"></span>
    </div>

    <ul class="filter list-inline">
        <li><a class="active" href="#" data-filter="*">Show All</a></li>
        <li><a href="#" data-filter=".photography">Photography</a></li>
        <li><a href="#" data-filter=".illustration">illustration</a></li>
        <li><a href="#" data-filter=".branding">branding</a></li>
        <li><a href="#" data-filter=".web-design">web design</a></li>
    </ul>
    <div class="row">
        <div class="portfolio-box iso-call col-3-space">

            <div class="project-post photography branding">
                <div class="item-img-wrap ">
                    <img src="img/img-8.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-8.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="portfolio-single.html">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post illustration web-design">
                <div class="item-img-wrap ">
                    <img src="img/img-1.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-1.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="portfolio-single.html">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->

            <div class="project-post illustration web-design">
                <div class="item-img-wrap ">
                    <img src="img/img-2.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-2.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post photography web-design">
                <div class="item-img-wrap ">
                    <img src="img/img-4.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-4.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->

            <div class="project-post branding">
                <div class="item-img-wrap ">
                    <img src="img/img-5.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-5.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
            <div class="project-post  illustration">
                <div class="item-img-wrap ">
                    <img src="img/img-6.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-6.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->

            <div class="project-post  branding">
                <div class="item-img-wrap ">
                    <img src="img/img-7.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-7.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->


            <div class="project-post   web-design">
                <div class="item-img-wrap ">
                    <img src="img/img-8.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-8.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->

            <div class="project-post  branding">
                <div class="item-img-wrap ">
                    <img src="img/img-9.jpg" class="img-responsive" alt="workimg">
                    <div class="item-img-overlay">
                        <a href="img/img-9.jpg" class="show-image">
                            <span></span>
                        </a>
                    </div>
                </div>
                <div class="work-desc">
                    <h3><a href="#">Logo Design</a></h3>
                    <span>illustrate</span>
                </div><!--work desc-->
            </div><!--project post-->
        </div>
    </div>
</div><!--container-->