
@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container marketing">

    <div class="row featurette">
        <img src="~/Content/images/event-top.jpg" class="img-fluid my-4" />
        <div class="col-md-7">
            <h1>Event</h1>
        </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row mb-2">
        <aside class="col-sm-4 blog-sidebar">
            <div id="event-list" class="list-group">

            </div>
        </aside>
        <div id="event-detail" class="col-sm-8 blog-main">
        </div>
    </div>

</div><!-- /.container -->

@section scripts {
    <script type="text/javascript" src="~/Scripts/merachel/main/event.js?v=@Model.JavaScriptAndCssVersion"></script>
}