
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-12 text-center">
            <h2 class="featurette-heading py-0">Galeri</h2>
            
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="card-columns" id="collection-list">
        
    </div>

</div><!-- /.container -->

@section scripts {
    <script type="text/javascript" src="~/Scripts/merachel/main/collection.js?v=@Model.JavaScriptAndCssVersion"></script>
}