@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="home-jumbotron" class="jumbotron text-left">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="jumbotron-heading">Daftarkan dirimu sekarang</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        @*<p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>*@
    </div>
</section>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Tentang Merachel</h2>
            <p class="lead">Merachel menawarkan kepada anda jasa kursus dengan pelayanan terbaik dengan harga yang terjangkau untuk semua kalangan. Merachel juga menyediakan workshop - workshop yang memenuhi kebutuhan masyarakat akan ilmu mengenai dunia fashion terbaru.</p>
        </div>
        <div class="col-md-5 embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fbf8hY60V98" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pilihan Kursus</h1>
    </div>

    <div id="home-course" class="card-deck mb-3 text-center">
    </div>

</div><!-- /.container -->

<div class="merachel-testimonial p-3">

    <div class="pricing-header px-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 text-white">Testimonial</h1>
    </div>
    <div id="home-testimonial" class="row">
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center w-100">
            <h1 class="display-4">Gallery</h1>
            <p class="lead">Cek Update kegiatan terakhir dari kami.</p>
        </div>

        <div class="col-md-6">
            <div class="card mb-3 bg-dark text-white border-0">
                <img class="card-img" src="https://images.unsplash.com/photo-1513890333407-6f85205e8ef2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2fbd35ff11c8732302df75b9978521bf&auto=format&fit=crop&w=1950&q=80" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3 bg-dark text-white border-0">
                <img class="card-img" src="https://images.unsplash.com/photo-1513890333407-6f85205e8ef2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2fbd35ff11c8732302df75b9978521bf&auto=format&fit=crop&w=1950&q=80" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">
    </div>

    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->

<div class="merachel-testimonial">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 text-white">Tutor</h1>
    </div>
    <img src="~/Content/images/tutorall-1.jpg" class="img-fluid d-block mx-auto" />
</div>

<div class="container">
    <div class="row">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center w-100">
            <h1 class="display-4">News</h1>
            <p class="lead">Jangan ketinggalan berita - berita terbaru dari kami.</p>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1513890333407-6f85205e8ef2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2fbd35ff11c8732302df75b9978521bf&auto=format&fit=crop&w=1950&q=80" alt="Card image">
                <div class="card-body border">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1513890333407-6f85205e8ef2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2fbd35ff11c8732302df75b9978521bf&auto=format&fit=crop&w=1950&q=80" alt="Card image">
                <div class="card-body border">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1513890333407-6f85205e8ef2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2fbd35ff11c8732302df75b9978521bf&auto=format&fit=crop&w=1950&q=80" alt="Card image">
                <div class="card-body border">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <hr class="featurette-divider">
    </div>

    <!-- /END THE FEATURETTES -->
</div><!-- /.container -->

<div class="">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="w-100">Follow our Instagram</h2>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/merachel/main/home.js?v=@Model.JavaScriptAndCssVersion"></script>
}
