
@{
    ViewBag.Title = "Why";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="container my-5">

    <div class="starter-template">
        <h1>Why Us ?</h1>
        <p class="lead">Merachel menjadi kursus fashion dan design satu-satunya di kota Malang yang menyediakan pola Jepang dan Eropa dengan kurikulum yang terpercaya berstandar nasional dan internasional.</p>
        <img src="~/Content/images/home-whyus-1.jpg" class="rounded" alt="...">
        <img src="~/Content/images/home-whyus-2.jpg" class="rounded" alt="...">
        <img src="~/Content/images/home-whyus-3.jpg" class="rounded" alt="...">
        <p class="mt-5">Pola Jepang sangat terkenal sudah sejak puluhan tahun lalu sebagai pola Asia yang baik dan cocok untuk tubuh Asia. Sementara pola Eropa khususnya corset sangat elegan dan jatuh menawan di tubuh penggunanya. Pola Eropa merupakan basic hampir semua pola pakaian yang ada saat ini.</p>
        <p class="mb-5">Proses pembelajaran didampingi oleh tutor yang berpengalaman dan dengan sistem private. Tutor akan fokus menggali potensi murid sehingga manfaat dari pembelajaran tersebut bisa diterima baik oleh murid.</p>
        <img src="~/Content/images/home-whyus-4.jpg" class="rounded" alt="...">
        <img src="~/Content/images/home-whyus-5.jpg" class="rounded" alt="...">
        <img src="~/Content/images/home-whyus-6.jpg" class="rounded" alt="...">
    </div>

</main>

