
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">

    <div class="row">
        <div class="col-md-7">
            <h2 class="featurette-heading mt-5">Blog</h2>
        </div>
    </div>

    <hr class="featurette-divider my-4">

    <div class="row mb-2">
        <aside class="col-sm-4 blog-sidebar">
            <div id="blogcategory-list" class="list-group">
                <a href="/Merachel/Blog" class="list-group-item list-group-item-action">Semua</a>
            </div>
        </aside>
        <div id="blog-list" class="col-sm-8 blog-main">
        </div>
    </div>

</div><!-- /.container -->

@section scripts {
    <script type="text/javascript" src="~/Scripts/merachel/main/blog.js?v=@Model.JavaScriptAndCssVersion"></script>
}