@model Merachel.WebUI.Models.CollectionModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="collection-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="collection-top">
                    <a href="@Url.Action("Index", "Collection")">
                        <h1 class="collection-detail"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Kembali Ke Galeri</h1>
                    </a>
                    <h2 class="collection-detail">@Model.collection.CollectionTitle</h2>
                    <h3>@Model.collection.CollectionDate</h3>
                </div>
            </div>
            <div class="col-md-4 col-xs-6">
            </div>
        </div>
    </div>
    <div class="collection-list">
        <div class="container">
            <div class="row">
                <ul>
                    @foreach (var item in Model.picture)
                    {
                        Html.RenderPartial("_PictureList", item);
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

